In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
df1 = df.iloc[:, [0,1,3,5]]
df1.head(2)

,student_id,assignment1_grade,assignment2_grade,assignment3_grade
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657

In [6]:
df1.apply(lambda z: print(type(z)))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

student_id           None
assignment1_grade    None
assignment2_grade    None
assignment3_grade    None
dtype: object

In [10]:
df1['final'] = df1.apply(lambda row: (row[1] + row[2] + (2 * row[3]))/400, axis=1)
df1.head(2)

/Users/cosmakufa/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,student_id,assignment1_grade,assignment2_grade,assignment3_grade,final
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,83.030552,67.164441,0.775233
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,86.290821,69.772657,0.781567

In [12]:
num_students = int(len(df) * 0.01)
num_students

23

In [22]:
indicies = df1.final.argsort()
indicies.head()

0    1424
1      15
2     226
3    2237
4     339
Name: final, dtype: int64

In [24]:
df1.final[1424]

0.13341549732972496

In [29]:
filtered_students = df1.iloc[indicies[-num_students:]][::-1]
filtered_students.student_id.values

array(['DDE0526B-7DA4-80E8-C2A6-D097F3826029',
       '2B806EF6-A590-1C00-F0C5-1469E3B2152E',
       '1F51E050-78F7-F270-1B90-ED1BC0376763',
       'EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31',
       '2B806EF6-A590-1C00-F0C5-1469E3B2152E',
       'DDE0526B-7DA4-80E8-C2A6-D097F3826029',
       '6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC',
       '6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '1F51E050-78F7-F270-1B90-ED1BC0376763',
       '25197F10-E9E9-4C50-63F8-6C896975AAE2',
       'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '5AB0D44C-86FF-2DE6-B096-B0F5D029E430',
       '42A3C4F0-7032-7368-2D67-989735754020',
       'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2',
       '1F51E050-78F7-F270-1B90-ED1BC0376763',
       '25197F10-E9E9-4C50-63F8-6C896975AAE2',
       'DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2',
       '25197F10-E9E9-4C50-63F8-6C896975AAE2',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '247B105C-2067-A7AA-2CBE-B65278128C96',
       '5AB0D44C-86FF-2DE6-B096-B0F5D029E430'], dtype=object)

In [30]:
df1.sort_values?

Signature: df1.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')
Docstring:
Sort by the values along either axis

.. versionadded:: 0.17.0

Parameters
----------
by : str or list of str
    Name or list of names which refer to the axis items.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Axis to direct sorting
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     if True, perform operation in-place
kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
     Choice of sorting algorithm. See also ndarray.np.sort for more
     information.  `mergesort` is the only stable algorithm. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     `first` puts NaNs at the beginning, `last` puts NaNs at the end

Returns
-------
sorted_obj : DataFrame

Examples
--------
>>> df = pd.DataFrame({
...     'col1' : ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2' : [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
... })
>>> df
    col1 col2 col3
0   A    2    0
1   A    1    1
2   B    9    9
3   NaN  8    4
4   D    7    2
5   C    4    3

Sort by col1

>>> df.sort_values(by=['col1'])
    col1 col2 col3
0   A    2    0
1   A    1    1
2   B    9    9
5   C    4    3
4   D    7    2
3   NaN  8    4

Sort by multiple columns

>>> df.sort_values(by=['col1', 'col2'])
    col1 col2 col3
1   A    1    1
0   A    2    0
2   B    9    9
5   C    4    3
4   D    7    2
3   NaN  8    4

Sort Descending

>>> df.sort_values(by='col1', ascending=False)
    col1 col2 col3
4   D    7    2
5   C    4    3
2   B    9    9
0   A    2    0
1   A    1    1
3   NaN  8    4

Putting NAs first

>>> df.sort_values(by='col1', ascending=False, na_position='first')
    col1 col2 col3
3   NaN  8    4
4   D    7    2
5   C    4    3
2   B    9    9
0   A    2    0
1   A    1    1
File:      ~/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py
Type:      method